@{
    ViewData["Title"] = "Startseite";
}

<div class="text-center">
    <h1 class="display-4">Willkommen auf meiner Website</h1>

    Die Seite ist noch in Arbeit. Bitte schauen Sie später wieder vorbei.
    <p>Vielen Dank für Ihr Verständnis!</p>
   </div>
