@{
    ViewData["Title"] = "Registrierung deaktiviert";
}

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="alert alert-info">
            <h4>Registrierung nicht verfügbar</h4>
            <p>Die Selbstregistrierung ist deaktiviert. Bitte wenden Sie sich an den Administrator.</p>
        </div>
        <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-primary">Zur Anmeldung</a>
    </div>
</div>
